/**********************TAG SELECTORS*********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 60%;
  font-family: "Merriweather", serif;
  text-align: center;
}

p {
  line-height: 2;
}

a:link {
  color: #145374;
  text-decoration: none;
}

a:visited {
  color: #00334e;
}

a:hover {
  color: #00334e;
}

header {
  background-color: #62929a;
  color: #40514e;
  height: 95vh;
  padding: 15vh 0 15vh 0;
}

h1 {
  color: #233142;
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  margin-bottom: 40px;
}

.sub-title {
  color: #233142;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 50px;
}

.main-icon {
  width: 200px;
}

main {
  background: #dfdfdf;
}

section {
  padding: 15vh 0 15vh 0;
  font-size: 1.8rem;
}

.profile-pic {
  width: 200px;
  margin-bottom: 5vh;
}

h2 {
  color: #233142;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: normal;
  padding-bottom: 7vh;
}

.text-box {
  text-align: left;
  margin: auto;
  font-size: 1.8rem;
}

.about-me {
  text-align: center;
  width: 40vw;
}

hr {
  border-style: dotted none none;
  border-color: #b8b0b0;
  border-width: 10px;
  margin: auto;
  width: 8%;
}

.text-box-skill {
  width: 50vw;
}

.icon-box-skill {
  width: 50vw;
  margin: auto;
  margin: 3vh auto 5vh auto;
}

h3 {
  color: #233142;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2vh;
}

.skill-icon {
  width: 50px;
  margin: 2%;
}

.text-box-training {
  width: 50vw;
  margin-bottom: 7vh;
}

.training-item {
  display: flex;
  align-items: center;
}

h5 {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}


.training-img {
  float: left;
  margin-right: 20px;
  border-radius: 16px;
  width: 110px;
}

.projects-div {
  margin: 50px auto 100px auto;
  text-align: left;
  width: 50%;
}

.project {
  line-height: 1.5;
  padding: 0 0 3% 0;
}

.projects-icons {
  width: 70px;
  float: left;
  margin-right: 20px;
}

.contact-me {
  width: 60%;
  margin: 50px auto;
}

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  border: solid #62929a 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 20px;
}

.btn:hover {
  background: #62929a;
  border: solid #62929a 3px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.contact-icons {
  padding: 5%;
}

footer {
  color: black;
  font-size: 10px;
  padding: 5px;
  background-color: #62929a;
}
/*
@media (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .sub-title {
    font-size: 0.8rem;
    color: #233142;
  }

  .main-icon {
    padding: 10px;
    width: 130px;
  }

  .profile {
    width: 40rem;
  }

  .trainings-div {
    width: 40rem;
  }

  .skill-div {
    width: 40rem;
  }

  .skill-icon-div {
    width: 40rem;
    height: 8rem;
    margin: 10px 0;
  }

  .skill-icon {
    width: 100%;
  }

  .projects-div {
    width: 40rem;
  }

  .projects-icons {
    width: 100px;
  }

  .p-projects {
    line-height: 1;
  }

  .contact-me {
    width: 80%;
  }

  .p-bottom {
    font-size: 0.25rem;
  }
}
