/**********************TAG SELECTORS*********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 60%;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  text-align: center;
}

p {
  line-height: 2;
}

a:link {
  color: #145374;
  text-decoration: none;
}

a:visited {
  color: #00334e;
}

a:hover {
  color: #00334e;
}

header {
  background-color: #62929a;
  color: #40514e;
  padding: 15vh 0 15vh 0;
}

h1 {
  color: #233142;
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  margin-bottom: 40px;
}

.sub-title {
  color: #233142;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 50px;
}

.main-icon {
  width: 200px;
}

main {
  background: #dfdfdf;
}

section {
  padding: 15vh 0 10vh 0;
  font-size: 1.8rem;
}

.profile-pic {
  width: 200px;
  margin-bottom: 5vh;
}

h2 {
  color: #233142;
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
  padding-bottom: 8vh;
}

.text-box {
  text-align: left;
  margin: auto;
  font-size: 1.8rem;
}

.about-me {
  text-align: center;
  width: 40vw;
  padding-bottom: 5vh;
}

hr {
  border-style: dotted none none;
  border-color: #b8b0b0;
  border-width: 10px;
  margin: auto;
  width: 8%;
}

.text-box-skill {
  width: 50vw;
}

.icon-box-skill {
  width: 80vw;
  margin: auto;
  margin: 3vh auto 5vh auto;
}

h3 {
  color: #233142;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2vh;
}

.skill-icon {
  width: 40px;
  margin: 2%;
}

.text-box-training {
  width: 50vw;
  margin-bottom: 7vh;
}

.training-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

.training-img {
  float: left;
  margin-right: 20px;
  border-radius: 16px;
  width: 110px;
}

.text-box-projects {
  margin-bottom: 5vh;
  text-align: left;
  width: 50vw;
}

.project-item {
  display: flex;
  align-items: center;
  line-height: 1.5;
  padding-bottom: 3vh;
}

.projects-icons {
  width: 70px;
  float: left;
  margin-right: 20px;
}

.contact-me {
  width: 85vw;
  margin: auto;
}

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  border: solid #62929a 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 2vw;
}

.btn:hover {
  background: #62929a;
  border: solid #62929a 3px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.contact-icons {
  padding: 2vh;
}

footer {
  color: black;
  font-size: 0.9rem;
  padding: 3vh;
  background-color: #62929a;
}

@media (max-width: 715px) {
  header {
    padding: 8vh 0;
  }

  h1 {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .main-icon {
    width: 100px;
  }

  section {
    padding: 8vh 0;
  }

  .profile-pic {
    width: 120px;
  }

  h2 {
    font-size: 3rem;
  }

  .text-box {
    width: 85vw;
  }

  .about-me {
    padding-bottom: 0;
  }

  .icon-box-skill {
    width: 100vw;
  }

  .skill-icon {
    width: 35px;
  }

  .skills {
    padding-bottom: 4vh;
  }

  .contact-icons {
    padding: 1.5vh;
  }
}
