/**********************TAG SELECTORS*********************/
body {
  background-color: #62929a;
  color: #40514e;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #233142;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 10px auto 0 auto;
}

h2 {
  color: #233142;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 30px;

}

h3 {
  color: #233142;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

}

h4 {
  color: #233142;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

p {
  line-height: 2;
}

a:link {
  color: #145374;
  text-decoration: none;
}

a:visited {
  color: #00334e;
}

a:hover {
  color: #00334e;
}

hr {
  border-style: dotted none none;
  border-color: #b8b0b0;
  border-width: 10px;
  margin: 70px auto;
  width: 8%;
}




/**********************CLASS SELECTORS*********************/

.main-icon {
  padding: 35px;
  width: 280px;
}

.idea-icon {
  padding: 10px 60px;
  position: absolute;
  width: 150px;

}

.mug-icon {
  padding: 20px;
  position: absolute;
  width: 50px;
}

.profile {
  width: 30%;
  margin: auto;
}

.profile-pic {
  margin: 50px auto 0 auto;
  width: 200px;
}

.top-container {
  padding-top: 70px;
  padding-bottom: 20px;
}

.middle-container {
  background: #dfdfdf;
  padding-bottom: 20px;
}

.skill-div {
  margin: 50px auto;
  text-align: left;
  width: 40%;
}

.skill-icon {
  width: 50px;

}

.skill-icon-div {
  margin: auto;
  width: 70%;
  height: 50px;
  text-align: center;
}

.trainings-div {
  margin: 50px auto;
  text-align: left;
  width: 50%;
}

.training-pic {
  float: left;
  margin-right: 20px;
  width: 110px;
}

.training-course {
  padding-bottom: 30px;
}

.projects-div {
  margin: 50px auto;
  text-align: left;
  width: 40%;
}

.p-projects {
  line-height: 1;
}

.p-site {
  padding: 3%;
}

.great-apps {
  padding: 3%;
}



.p-icon {
  width: 70px;
  float: left;
  margin-right: 20px;
}

.great-apps-logo {
  width: 70px;
  float: left;
  margin-right: 20px;
  border-radius: 100%;
}

.contact-me {
  width: 60%;
  margin: 50px auto;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 600;
   padding: 10px;
   border: solid #62929A 3px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 20px;
}

.btn:hover {
   background: #62929A;
   border: solid #62929A 3px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  color: black;
  font-size: 0.75rem;
  padding-top: 10px;
  padding-bottom: 10px;
}


@media (max-width: 1028px) {

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  .profile {
    width: 30rem;
  }

  .skill-div {
    width: 40rem;
  }

}
